@charset "utf-8";
/* CSS Document */


.logo {
    margin-left: 17px;
    padding-top: 25px;
}

#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}

#menu ul, li {
      list-style: none;
      margin: 0;
      padding: 0; 
}

#menu ul {
      position: relative;
      z-index: 597;
      float: left;
	  /*border-top:#9cbe4c solid 1px;
	  border-left:#9cbe4c solid 1px;
	  border-right:#9cbe4c solid 1px;*/
	 
}

#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    border-bottom :#ddd solid 1px;
	font-weight:bold;
}


#menu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
  color: #fff !important; 
}

#menu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%; 
}

#menu ul ul li {
  float: none; 
}

#menu ul li:hover > ul {
  visibility: visible; 
 
}

#menu ul ul {
  top: 0;
  left: 100%; 
}

#menu ul li {
  float: none; 
}

#menu {
  width: 220px; 
}

#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}

#menu:after, #menu ul:after {
    content: '';
    display: block; 
    clear: both; 
}

#menu ul {
    width: 220px; 
}


#menu li ul {
    background: #fff;
	width: 170px; 
	
}
#menu li:hover {
    background: #252559; 
	
	
}
#menu a {
    color: #777;
    line-height: 160%;
    padding: 5px 28px 5px 10px;
    /*width: 220px;*/ 
}

#menu a:hover {
    color: #fff;
    line-height: 160%;
    padding: 5px 28px 5px 10px;
}

#menu ul ul li {
    background: #fff; 
}
#menu ul ul li:hover {
    background: #fff;
	color:#009; 
	
}
#menu ul ul li:hover a {
    color: #777;
}
#menu ul ul li ul li {
    background: #fff; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
	
}
#menu .has-sub {
    position: relative; 
}

#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
   
}
#menu .has-sub > ul > .has-sub:after, #menu .has-sub:hover:after {
  
  color: #252559 !important; 

}


/**********/
.separador_menu {
    color: #252559;
	/*background-color:#E5E6E6;*/
    line-height: 160%;
    padding: 5px 28px 5px 10px;
    width: 184px;
}


/*** MENU HORIZONTAL ***/

#dolphincontainer{
	position:relative;
	height:56px;
	color:#E0E0E0;
	/*background:#9cbe4c;*/
    background: #ccc;
	width:100%;
	font-family:Helvetica,Arial,Verdana,sans-serif;
    border-top: 1px dotted #ccc;
}

#dolphinnav {
    position: relative;
    height: 33px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    padding: 0 0 0 0px;
    color: 000;
}

#dolphinnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}

#dolphinnav ul li{display:block;float:left;margin:0 ;}

#dolphinnav ul li a{
	display:block;
	float:left;
	color:#ccc;
	text-decoration:none;
	padding:0 0 0 15px;
	height:33px;
}

#dolphinnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}

#dolphinnav ul li a:hover{color:#F7780A;
background:transparent  repeat-x bottom left;}

#dolphinnav ul li a:hover span{display:block;width:auto;cursor:pointer;}

#dolphinnav ul li a.current, #dolphinnav ul li a.current:hover {
    color: #F7780A;
    background: #ccc no-repeat top left;
    line-height: 275%;
}

#dolphinnav ul li a.current span {
    display: block;
    padding: 0 20px 0 0;
    width: auto;
    background: #ccc no-repeat top right;
    height: 33px;
}   


/********************** MENU FOOTER **************/

ul.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.footer-menu li {
  float: left;
  width: 20%;
}

ul.footer-menu li a {
    color: #F7780A;
    display: block;
    padding: .3em;
    text-decoration: none;
}

ul.footer-menu li a:hover {
  text-decoration: none;
  color:#F7780A;
  
}